/*! Hans Dewitte */
body {
  margin: 0;
  font-family: sans-serif;
}

header {
  background-image: url("../images/intro.jpg");
  text-align: center;
}
header h1 {
  text-shadow: 2px 1px 4px antiquewhite, -1px 1px 5px bisque;
  margin-top: 0;
}
header section#vlaggen {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}
header section#vlaggen a {
  margin: 0.5rem;
}

article {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
article section {
  margin: 0.5rem;
}

table {
  text-align: left;
}
table th {
  font-weight: normal;
  width: 10em;
}
table td {
  font-weight: bold;
}

/*# sourceMappingURL=stijl.css.map */
