<!-- Hans Dewitte -->
<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wereldwijnen</title>
    <link rel="stylesheet" th:href="@{/css/stijl.css}">
</head>
<body>
    <header>
        <h1>Wereldwijnen</h1>
        <section id="vlaggen">
            <a  th:each="getal : ${#numbers.sequence(1, 10)}"
                th:href="@{{getal}(getal = ${getal})}">
                <img th:src="@{images/{getal}.png(getal = ${getal})}"
                     th:alt="${getal}">
            </a>
        </section>
    </header>
    <article>
        <h2>Land niet gevonden</h2>
    </article>
</body>
</html>