<!-- Hans Dewitte -->
<!DOCTYPE html>
<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Wereldwijnen</title>
    <link rel="stylesheet" th:href="@{/css/stijl.css}">
    <link rel="icon" th:href="@{/images/wereldwijnen.ico}">
</head>
<body>
    <header>
        <h1>Wereldwijnen</h1>
        <section id="vlaggen">
            <a th:each="landId : ${landIds}"
               th:href="@{/land/{id}(id = ${landId})}">
                <img th:src="@{/images/{id}.png(id = ${landId})}"
                     th:alt="${landId}">
            </a>
        </section>
    </header>
    <article th:if="${land} != null">
        <section id="soorten">
            <h2 th:text="|Soorten uit ${land}|"></h2>
            <ul>
                <li th:each="soort : ${land.soorten}">
                    <a th:href="@{/land/{landId}/soort/{soortId}(landId = ${land.id}, soortId = ${soort.id})}"
                       th:text="${soort}">
                    </a>
                </li>
            </ul>
        </section>
        <section id="wijnen" th:if="${soort} != null">
            <h2 th:text="|Wijnen uit ${soort}|"></h2>
            <ul>
                <li th:each="wijn : ${soort.wijnen}">
                    <a th:href="@{/land/{landId}/soort/{soortId}/wijn/{wijnId}(landId = ${land.id}, soortId = ${soort.id}, wijnId = ${wijn.id})}">
                        <span th:text="${wijn}"></span>
                        <span th:each="ster : ${#numbers.sequence(1, wijn.beoordeling)}">*</span>
                    </a>
                </li>
            </ul>
        </section>
        <section id="toevoegen" th:if="${wijn} != null" th:object="${wijn}">
            <h2>Wijn toevoegen aan mandje</h2>
<!--            <a th:href="@{/land/{landId}/soort/{soortId}(landId = ${land.id}, soortId = ${soort.id})}">-->
<!--                terug naar overzicht-->
<!--            </a>-->
            <table>
                <tbody>
                    <tr>
                        <th>Land</th>
                        <td th:text="${land}"></td>
                    </tr>
                    <tr>
                        <th>Soort</th>
                        <td th:text="${soort}"></td>
                    </tr>
                    <tr>
                        <th>Jaar</th>
                        <td th:text="*{jaar}"></td>
                    </tr>
                    <tr>
                        <th>Beoordeling</th>
                        <td><span th:each="ster : *{#numbers.sequence(1, beoordeling)}">*</span></td>
                    </tr>
                    <tr>
                        <th>Prijs</th>
                        <td th:text="*{prijs}"></td>
                    </tr>
                </tbody>
            </table>
            <form th:object="${idEnAantal}" method="post">
                <label>
                    Aantal
                    <span th:errors="*{aantal}"></span>
                    <input th:field="*{aantal}" type="number" min="1" required>
                </label>
                <span th:errors="*{id}"></span>
                <input th:field="*{id}" type="hidden">
                <input type="submit" value="Toevoegen">
            </form>
        </section>
    </article>
    <article th:object="${mandje}" th:unless="*{isLeeg}">
        <section>
            <h2>Mandje</h2>
            <table>
                <thead>
                <tr>
                    <th>Wijn/th>
                    <th>Prijs</th>
                    <th>Aantal</th>
                    <th>Te betalen</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="bestelLijn : ${bestelLijnen}"
                    th:object="${bestelLijn}">
                    <td th:text="*{wijn}"></td>
                    <td th:text="*{#numbers.formatCurrency(prijs)}"></td>
                    <td th:text="*{aantal}"></td>
                    <td th:text="*{#numbers.formatCurrency(subTotaal)}"></td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th colspan="3">Totaal:</th>
                    <th th:text="${#numbers.formatCurrency(totaal)}">totaal</th>
                </tr>
                </tfoot>
            </table>

            <form th:object="${bestelBon}" method="post" th:action="@{/mandje/bevestiging}">
                <label>
                    Naam
                    <span th:errors="*{naam}"></span>
                    <input type="text" th:field="*{naam}" required>
                </label>
                <label>
                    Straat
                    <span th:errors="*{straat}"></span>
                    <input type="text" th:field="*{straat}" required>
                </label>
                <label>
                    Huisnummer
                    <span th:errors="*{huisnummer}"></span>
                    <input type="text" th:field="*{huisnummer}" required>
                </label>
                <label>
                    Postcode
                    <span th:errors="*{postCode}"></span>
                    <input type="number" th:field="*{postCode}" required
                           min="1000" max="9999">
                </label>
                <label>
                    Gemeente
                    <span th:errors="*{gemeente}"></span>
                    <input type="text" th:field="*{gemeente}" required>
                </label>
                <input type="submit" value="Als bestelbon bevestigen">

            </form>
            <script>
                document.querySelector("form").onsubmit = function (event) {
                    event.target.querySelector("input[type=submit]").disabled = true;
                }
            </script>
        </section>
    </article>
</body>
</html>